$white: #fff;
$black: #000;

$intertext-color-light: #8ba5a1;
$intertext-color: #174b42;
$intertext-color-dark: #10352e;

$grey: #aaa;
$light-grey: #d9d9d9;
$lighter-grey: #f7f7f7;

$text-default-color: #333;

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
