.chart-legend {
  display: flex;
  align-items: center;

  .label {
    font-size: 14px;
  }

  .colors {
    display: flex;
    gap: 30px;
  }

  .color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    border-radius: 25px;
  }
}
